@font-face {
    font-family: "Britannic-bold";
    src: url("./fonts/britannic-bold.ttf") format("truetype");
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

button {
    background-color: transparent;
    border: none;
    color: #fff;
}

img {
    width: 15px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    font-family: "Britannic-bold", sans-serif;
    font-size: 16px;
    background-color: #d4e5f6;
    color: #fff;
}

.calc {
    display: flex;
    flex-direction: column;


    width: 676px;
    height: 600px;

    border-radius: 28px;
    box-shadow: 4px 4px 40px 5px rgba(17, 22, 44, 0.20);
    overflow: hidden;
    background-color: #738396;
}

.calc__header {
    display: flex;
    justify-content: flex-end;

    height: 50px;

    background-color: #374352;
}

.calc__control {
    width: 60px;

    background-color: #343a41;
}

.calc__control-img {
    width: 10px;
}

.calc__display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    padding: 0 30px 30px;

    height: 145px;

    background-color: #515c69;
    font-size: 34px;
}

.calc__btns {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(7, 1fr);

    flex-grow: 1;

    background-color: #738396;
}

.calc__number {
    background-color: #5b6a7c;
}

.calc__operation {
    background-color: #374352;
}

.calc__operation.minus .calc__operation-img {
    width: 10px;
}

.calc__operation.plus .calc__operation-img {
    width: 10px;
}

.calc__operation.multiply .calc__operation-img {
    width: 10px;
}

.calc__operation-add {
    background-color: #343a41;
}

.calc__operation-add.radical .calc__operation-img {
    width: 24px;
}

.calc__equal-sign {
    grid-area: 5/3/5/2 span;

    background: linear-gradient(-30deg, #fe2c75, #fca82c);
}

.calc__operation--red-text {
    color: #fe3a6d;
}